
@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin grid12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  @include onDesktop {
    gap: 24px;
  }
}

@mixin gridItem($from, $to) {
  grid-column: #{$from} / #{$to + 1};
}

.page {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__header {
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 104px;
    }
  }

  &__section {
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 104px;
    }
  }

  &__menu {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    transition: transform 0.3s;
    transform: translateX(-100%);

    &--open {
      transform: translateX(0);
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;

  @include onDesktop {
    padding: 0 40px;
  }
}

.grid {
  @include grid12;

  &__item {
    @for $from from 1 through 12 {
      @for $to from $from through 12 {
        &--#{$from}-#{$to} {
          @include gridItem($from, $to);
        }
      }
    }
  }
}

@mixin topWithLogo {
  display: grid;
  grid-template-columns: 18px 1fr 18px;
  justify-items: center;
  align-items: center;

  @include onDesktop {
    grid-template-columns: 24px 1fr 24px;
  }
}

.header {
  background-image: url(../images/header.jpg);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 0 80px;
    height: 100vh;
  }

  &__top {
    @include topWithLogo;
  }

  &__call {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-image: url(../images/phone.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include onDesktop() {
      &::before {
        content: "+1 234 555-55-55";
        position: absolute;
        top: 50%;

        width: max-content;
        padding-right: 20px;

        color: #fff;
        letter-spacing: 2px;

        opacity: 0;
        pointer-events: none;

        transform: translate(-100%, -50%);
        transition: opacity 0.2s;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 46px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff;

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -1.5px;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      width: 40px;
      margin-bottom: 24px;
      border: 1px solid #fff;
      border-radius: 1px;
    }
  }
}

.logo {
  display: block;

  &__image {
    height: 48px;

    @include onDesktop {
      height: 80px;
    }
  }
}

.menu-toggler {
  display: block;
  width: 100%;
  padding-bottom: 66.67%;
  border: 0;
  background-color: transparent;
  background-image: url(../images/phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;

  &--opener {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--closer {
    height: 24px;
    background-image: url(../images/cross.svg);
  }
}

.menu {
  background-color: #0075ff;

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: 24px 0 80px;
  }

  &__top {
    @include topWithLogo;

    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 0 48px;
    padding: 0;

    list-style: none;
  }

  &__link {
    position: relative;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;

      height: 1px;
      margin-top: 8px;
      background-color: #fff;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }

  &__call {
    display: block;
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;

    font-size: 12px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.about {
  &__content {
    @include onDesktop {
      @include grid12;
    }
  }

  &__title {
    margin: 0 0 48px;
    font-size: 36px;
    line-height: 1em;
    letter-spacing: -1.5px;
    font-weight: bold;
    color: #000;

    @include onDesktop {
      @include gridItem(1, 4);
      margin: 0;
      font-size: 48px;
    }
  }

  &__link {
    color: #0075ff;
    text-decoration: none;
  }

  &__main {
    @include onDesktop {
      @include gridItem(7, 12);
    }
  }

  &__subtitle {
    margin: 0 0 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
  }

  &__paragraph {
    margin: 0 0 27px;

    &--important {
      font-weight: bold;
    }

    &--last {
      margin-bottom: 0;
    }
  }
}

.section-title {
  position: relative;
  margin: 0 0 48px;

  font-size: 36px;
  line-height: 1em;
  color: #000;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1.5px;

  @include onDesktop {
    font-size: 48px;
    margin-bottom: 80px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 23px;
    height: 16px;
    margin: 6px auto 0;
    background-image: url(../images/crown.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.button {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 56px;
  border: 2px solid #0075ff;
  border-radius: 8px;

  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;

  background-color: #0075ff;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);

  transition: all 0.2s;

  &--secondary {
    color: #0075ff;
    background-color: #fff;
    box-shadow: none;
  }

  &:hover {
    color: #fff;
    border-color: #005ecc;
    background-color: #005ecc;
    box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  }

  &:active {
    color: #fff;
    background-color: #005ecc;
    border-color: #005ecc;
    box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
  }
}

.gallery {
  &__button-container {
    @include onDesktop {
      @include grid12;
    }
  }

  &__button {
    @include onDesktop {
      @include gridItem(6, 7);
    }
  }
}

.place {
  margin-bottom: 40px;

  &__photos {
    @include grid12;
    margin-bottom: 16px;

    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__photo {
    display: block;
    width: 100%;
    height: 128px;

    border-radius: 8px;
    object-fit: cover;
    object-position: center;

    @include onDesktop {
      height: 256px;
    }

    &--1 {
      @include gridItem(1, 6);

      @include onDesktop {
        @include gridItem(1, 8);
      }
    }

    &--2 {
      @include gridItem(7, 12);

      @include onDesktop {
        @include gridItem(9, 12);
      }
    }

    &--3 {
      @include gridItem(1, 6);
    }

    &--4 {
      @include gridItem(7, 12);
    }

    &--5 {
      @include gridItem(1, 6);

      @include onDesktop {
        @include gridItem(1, 4);
      }
    }

    &--6 {
      @include gridItem(7, 12);

      @include onDesktop {
        @include gridItem(5, 12);
      }
    }
  }

  &__address {
    margin: 0;
  }

  &__link {
    color: #0075ff;
    font-weight: bold;
    text-decoration: none;
  }
}

.testimonials {
  &__content {
    @include onDesktop {
      @include grid12;
    }
  }

  &__item-1 {
    @include onDesktop {
      @include gridItem(1, 4);
    }
  }

  &__item-2 {
    @include onDesktop {
      @include gridItem(5, 8);
    }
  }

  &__item-3 {
    @include onDesktop {
      @include gridItem(9, 12);
    }
  }
}

.testimonial {
  text-align: center;

  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 28px;

    @include onDesktop {
      margin-bottom: 32px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-top: 0;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin-top: 0;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
    margin: 0 0 48px;

    @include onDesktop {
      margin: 0;
    }
  }
}

.contact-form {
  &__email {
    margin-bottom: 16px;
  }

  &__name {
    margin-bottom: 16px;
  }

  &__message {
    margin-bottom: 32px;
  }
}

.form-field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid transparent;
  padding: 14px 17px;
  border-radius: 8px;

  font-size: 14px;
  line-height: 20px;
  background-color: #f7f8ff;

  &::placeholder {
    color: #8f99a8;
  }

  &:hover {
    border-color: #ccd0e0;
  }

  &:focus {
    border-color: #0075ff;
  }

  &--fixed-text {
    resize: none;
  }
}

.contact-us {
  &__info {
    margin-bottom: 24px;
  }

  &__info-title {
    margin: 0 0 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  height: 320px;
  padding-bottom: 35px;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: center;

  @include onDesktop {
    height: 360px;
  }
}
